<h1>Contact me</h1>
<div class="contact-box">
  <p>{{ contact.email }}</p>
  <p>{{ contact.phone | phone }}</p>
  <div class="social">
    <a href="{{ contact.linkedin_url }}"><img src="http://res.cloudinary.com/rodrigopk/image/upload/v1498082137/seed_data/linkedin.png"></a>
    <a href="{{ contact.github_url }}"><img src="http://res.cloudinary.com/rodrigopk/image/upload/v1498082137/seed_data/github.png"></a>
    <a href="{{ contact.twitter }}"><img src="http://res.cloudinary.com/rodrigopk/image/upload/v1498082137/seed_data/twitter-icon.png"></a>
  </div>
</div>
