<h1>Education</h1>
<div class="edu-list">
  <ul>
    <li *ngFor="let edu of educations">
      <div class="edu-item">
        <div class="edu-title">
          <h4>{{edu.institution}}</h4>
          <p>
            {{edu.start_date | date:'MMM y' }} <span *ngIf="edu.graduated">- {{edu.end_date  | date:'MMM y' }}</span> ({{edu.periodString}} )
          </p>
        </div>
        <div class="edu-description">
          <p><b>{{edu.title}}</b></p>
          <p>{{edu.field}}</p>
          <p><a href="{{edu.institution_url}}">institution website</a></p>
        </div>
      </div>
    </li>
  </ul>
</div>